<div class="product-view-container">
    <button class="btn-product-view" (click)="backProducts()">Tro ve</button>

    <div class="main-product-image">
        <img src="{{product.mainImage.pathFile}}" width="100px"/>
    </div>

    <div class="lable-info">Ten san pham :</div>
    <div class="value-info">{{product.name}}</div>

    <div class="lable-info">Ma san pham :</div>
    <div class="value-info">{{product.code}}</div>

    <div class="lable-info">Thu tu san pham :</div>
    <div class="value-info">{{product.position}}</div>

    <div class="lable-info">Thuoc danh muc :</div>
    <div class="value-info">{{product.danhmuc.name}}</div>

    <div class="lable-info">Gia goc :</div>
    <div class="value-info">{{product.priceOriginal}}</div>

    <div class="lable-info">Gia ban :</div>
    <div class="value-info">{{product.priceSell}}</div>

    <div class="lable-info">Gia khuyen mai :</div>
    <div class="value-info">{{product.pricePromotion}}</div>

    <div class="lable-info">Trang thai :</div>
    <div class="value-info">{{product.status}}</div>

    <div class="lable-info">Thoi gian bao hanh :</div>
    <div class="value-info">{{product.guarantee}}</div>

    <div class="lable-info">Nha san xuat :</div>
    <div class="value-info">{{product.producer}}</div>

    <div class="lable-info">Thue :</div>
    <div class="value-info">{{product.vat}}</div>

    <div class="lable-info">So luong :</div>
    <div class="value-info">{{product.quantity}}</div>

    <div class="lable-info">Don vi :</div>
    <div class="value-info">{{product.unit}}</div>

    <div class="lable-info">Tu khoa seo title :</div>
    <div class="value-info">{{product.seoTitle}}</div>

    <div class="lable-info">Tu khoa seo tu khoa :</div>
    <div class="value-info seo-keyword">{{product.seoKeyword}}</div>

    <div class="lable-info">Tu khoa seo mo ta :</div>
    <div class="value-info seo-description">{{product.seoDescription}}</div>

    <div class="view-detail-group">
        <p-tabView>
            <p-tabPanel header="Thong tin san pham">
                <div class="tab-value-info" [innerHTML]="product.shortDescription"></div>
            </p-tabPanel>

            <p-tabPanel header="Thong tin chi tiet">
                <div class="tab-value-info">{{product.detailDescription}}</div>
            </p-tabPanel>

            <p-tabPanel header="Hinh anh chi tiet">
                <div *ngFor="let image of product.imagesDetail">
                    <img ngSrc="image.pathFile" width="50"/>
                    <div class="image-name">{{image.originalName}}</div>
                    <div class="image-size">{{image.size}}</div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>

    <button class="btn-product-view" (click)="backProducts()">Tro ve</button>
</div>