.dm-level-1 {
    padding-left: 0px;
}

.dm-level-2 {
    padding-left: 10px;
}

.dm-level-3 {
    padding-left: 20px;
}

.dm-level-4 {
    padding-left: 30px;
}

.dm-level-5 {
    padding-left: 40px;
}

.category-item-1:hover, .category-item-2:hover, .category-item-3:hover, .category-item-4:hover, .category-item-5:hover {
    background-color: lightskyblue;
}