<div class="mobi-header-panel">
    <div class="container">
        <div class="bar-mobi-header">
            <div class="category-item-bar-icon no-margin col-xs-1" (click)="onCategorySelected()">
                <i *ngIf="!isShowCategoryItem"  class="fa fa-list-ul" aria-hidden="true"></i>
                <i *ngIf="isShowCategoryItem" class="fa fa-times" aria-hidden="true"></i>
            </div>

            <div class="logo-mobi-header no-margin col-xs-7">
                LÂM TIẾN AUTO
            </div>

            <div class="icon-mobi-header no-margin col-xs-3">
                <div class="icon-shopping-cart pull-right" (click)="onCartIconSelected()">
                    <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                </div>

                <div class="icon-search-input pull-right" (click)="onSearchSelected()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>

            <div class="menu-item-bar-icon no-margin col-xs-1" (click)="onMenuItemSelected()">
                <i *ngIf="!isShowMenuItem" class="fa fa-bars  pull-right" aria-hidden="true"></i>
                <i *ngIf="isShowMenuItem" class="fa fa-times  pull-right" aria-hidden="true"></i>
            </div>
        </div>

        <!-- list category item -->
        <div *ngIf="isShowCategoryItem" class="category-item-panel">

        </div>

        <!-- list menu item -->
        <div *ngIf="isShowCategoryItem" class="menu-item-panel">

        </div>

         <!-- show search input -->
        <div *ngIf="isShowSearchInput" class="menu-item-panel">

        </div>
    </div>
</div>