<div class="mobi-header-panel">
    <div class="container">
        <div class="bar-mobi-header">
            <div class="category-item-bar-icon no-margin col-xs-1" (click)="onCategorySelected()">
                <i *ngIf="!isShowCategoryItem"  class="fa fa-list-ul" aria-hidden="true"></i>
                <i *ngIf="isShowCategoryItem" class="fa fa-times" aria-hidden="true"></i>
            </div>

            <div class="logo-mobi-header no-margin col-xs-7">
                LÂM TIẾN AUTO
            </div>

            <div class="icon-mobi-header no-margin col-xs-3">
                <div class="icon-shopping-cart pull-right" (click)="onCartIconSelected()">
                    <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                    <div class="basket-item-count"><span class="count">{{totalQuantity}}</span></div>
                </div>

                <div class="icon-search-input pull-right" (click)="onSearchSelected()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>

            <div class="menu-item-bar-icon no-margin col-xs-1" (click)="onMenuItemSelected()">
                <i *ngIf="!isShowMenuItem" class="fa fa-bars  pull-right" aria-hidden="true"></i>
                <i *ngIf="isShowMenuItem" class="fa fa-times  pull-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- show search input -->
    <div *ngIf="isShowSearchInput" class="search-ear-panel">
        <div class="control-group">
            <input type="text" name="search" class="search-field" placeholder="Tìm sản phẩm ờ đây...">
        </div>
    </div>
</div>

<div class="navigation-bar-container">
    <!-- list category item -->
    <div *ngIf="isShowCategoryItem" class="category-item-panel">
        <ul class="nav-category" *ngFor="let dm of danhmucs">
            <li class="nav-item">
                <a (click)="onCategorySelected(dm)" routerLink="/danh-muc/{{dm.id}}">{{dm.name}}</a>

                <!-- LEVEL 2 -->
                <ul class="nav-category" *ngFor="let childL2 of dm.children">
                    <li class="nav-item">
                        <a class="item-level2" (click)="onCategorySelected(childL2)" routerLink="/danh-muc/{{childL2.id}}">{{childL2.name}}</a>

                        <!-- LEVEL 3 -->
                        <ul class="nav-category" *ngFor="let childL3 of childL2.children">
                            <li class="nav-item">
                                <a class="item-level3" (click)="onCategorySelected(childL3)" routerLink="/danh-muc/{{childL3.id}}">{{childL3.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- list menu item -->
    <div *ngIf="isShowMenuItem" class="menu-item-panel">
        <ul class="nav-menu">
            <li *ngFor="let item of menuItems">
                <a [routerLink]="[item.linkRef]"
                    (click)="onMenuItemSelected(item)">{{item.value}}</a>
            </li>
        </ul>
    </div>

    <!-- a div element to prevent user click any place -->
    <div *ngIf="isShowCategoryItem || isShowMenuItem" class="menu-prevent" (click)="onRemoveMenu()"></div>
</div>


