.breadcrumb {
    background: rgba(0, 0, 0, 0);
    margin-bottom: 0px;
    margin-top: 3px !important;
}

.main-content-panel {
    font-family: 'times new roman', times, serif;
    font-size: 18px;
}

@media screen and (max-width: 1000px) {
    .main-side-bar, .main-content-panel {
        float: left;
        width:  100%;
    }
}

@media screen and (min-width: 1001px) {
    .main-side-bar {
        float: left;
        width:  30%;
        padding-right: 15px;
    }

    .main-content-panel {
        float: left;
        width:  70%;
    }
}