<div class="no-margin col-md-12 title-sort-panel">
    <h3 class="title-row pull-left">{{title}}</h3>

    <div class="sort-row pull-right" *ngIf="isShowSort">
        <span> Sắp xếp theo: </span>
        <div class="btn-group">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">
                {{currentFieldSort.value}}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li *ngFor="let fieldSort of fieldsSort">
                    <a tabindex="-1" href="javascript:void(0)" (click)="sortFieldChange(fieldSort)">{{fieldSort.value}}</a>
                </li>
            </ul>
        </div>

        <img class="icon-sort-product" src="../../icon/sortascend.png" (click)="sortChange()" *ngIf="!isDescendant"/>
        <img class="icon-sort-product" src="../../icon/sortdescend.png" 
            (click)="sortChange()" *ngIf="isDescendant"/>
    </div>
</div>

<div class="no-margin col-md-12 product-content-panel">
    <div class="product-item" *ngFor="let product of products">
        <div class="col-md-12 product-img-thumb">
            <img *ngIf="product.mainImage" src="{{product.mainImage.pathFile}}" 
            class="img-responsive" (click)="detailProduct(product)"/>
        </div>
        
        
        <h3 class="col-md-12 product-name">
            <a routerLink="/san-pham/{{product.id}}" class="product-name-link">{{product.name}}</a>
        </h3>

        <div class="col-md-12 product-rating">
            <rating-view [value]="product.rating"></rating-view>
        </div>

        <div class="col-md-12 price-item">
            <div class="pull-left price-sell">{{product.priceSell}} đ</div>
            <div class="pull-right price-original text-right">{{product.priceOriginal}} đ</div>
        </div>

        <!-- BEGIN PRODUCT ACTION -->
        <div class="cart clearfix animate-effect">
            <div class="action">
                <ul class="list-unstyled">
                    <li class="add-cart-button btn-group">
                        <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <button class="btn btn-primary" type="button">Thêm vào giỏ hàng</button>
                    </li>
                    <li class="lnk wishlist">
                        <a class="add-to-cart" routerLink="/san-pham-yeu-thich/{{product.id}}" 
                            title="Đưa vào sản phẩm yêu thích"
                            (click)="addToWishlist(product)">
                            <i class="icon fa fa-heart"></i>
                        </a>
                    </li>
                    <li class="lnk">
                        <a class="add-to-cart" routerLink="/san-pham-so-sanh/{{product.id}}" 
                            title="Đưa vào mục so sánh"
                            (click)="addToCompare(product)">
                            <i class="fa fa-retweet"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- END PRODUCT ACTION -->

    </div>
</div>

<div class="row pagination-panel" *ngIf="total > limit">
    <p-paginator rows="limit" totalRecords="total" (onPageChange)="pageChange($event)"></p-paginator>
</div>