<div class="no-margin col-md-12 title-sort-panel">
    <h3 class="title-row pull-left">{{title}}</h3>

    <div class="sort-row pull-right" *ngIf="isShowSort">
        <span class="hidden-xs"> Sắp xếp theo: </span>
        <div class="btn-group">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">
                {{currentFieldSort.value}}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li *ngFor="let fieldSort of fieldsSort">
                    <a tabindex="-1" href="javascript:void(0)" (click)="sortFieldChange(fieldSort)">{{fieldSort.value}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="no-margin col-md-12 product-content-panel">
    <div class="product-item-container" *ngFor="let product of products">
        <div class="product-item">
            <div class="col-xs-12 col-sm-12 col-md-12 product-img-thumb">
                <a routerLink="/san-pham/{{product.id}}">
                    <img *ngIf="product.mainImage" src="{{product.mainImage.pathFile}}" class="img-responsive"/>
                </a>
            </div>

            <h3 class="col-xs-12 col-sm-12 col-md-12 product-name">
                <a routerLink="/san-pham/{{product.id}}" class="product-name-link">{{product.name}}</a>
            </h3>

            <div class="col-xs-12 col-sm-12 col-md-12 product-rating">
                <rating-view [value]="product.rating"></rating-view>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 price-item">
                <div class="pull-left price-sell">{{product.priceSell | pipeSimpleNumber}} đ</div>
                <div class="pull-right price-original text-right">{{product.priceOriginal | pipeSimpleNumber}} đ</div>
            </div>

            <div class="clearfix"></div>

            <!-- BEGIN PRODUCT ACTION -->
            <div class="cart animate-effect">
                <div class="action">
                    <ul class="list-unstyled">
                        <li class="add-cart-button btn-group">
                            <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                            <button class="btn btn-primary" type="button">Thêm vào giỏ hàng</button>
                        </li>
                        <li class="lnk wishlist">
                            <a class="add-to-cart" routerLink="/san-pham-yeu-thich/{{product.id}}" 
                                title="Đưa vào sản phẩm yêu thích"
                                (click)="addToWishlist(product)">
                                <i class="icon fa fa-heart"></i>
                            </a>
                        </li>
                        <li class="lnk compare">
                            <a class="add-to-cart" routerLink="/san-pham-so-sanh/{{product.id}}" 
                                title="Đưa vào mục so sánh"
                                (click)="addToCompare(product)">
                                <i class="fa fa-retweet"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> <!-- END PRODUCT ACTION -->
        </div>
    </div>
</div>

<div class="row pagination-panel" *ngIf="total > limit">
    <p-paginator rows="limit" totalRecords="total" (onPageChange)="pageChange($event)"></p-paginator>
</div>