
/* CSS FOR SORT */
.title-sort-panel {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 10px;
}

.title-sort-panel > .title-row {
    margin-top: 10px;
    vertical-align: bottom;
    font-size: 20px;
    font-family: 'FjallaOneRegular';
    font-weight: bold;
}

.title-sort-panel .btn-default {
    background-color: white;
    background-image: none;
}

.title-sort-panel .btn-group {
    margin-left: 5px;
    margin-right: 5px;
}

.product-item {
    margin-bottom: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
    margin-left: 6px;
    margin-right: 6px;
}

.product-name-link {
    float: left;
    height: 34px;
}

.product-rating {
    text-align: center;
    font-size: 12px;
}

.product-rating > .rating-center {
   display: inline-block;
}

.product-img-thumb {
    height: 170px;
    cursor: pointer;
}

.price-item .price-sell {
    color: #3498db;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    margin-right: 8px;
}

.price-item .price-original {
    text-decoration: line-through;
    color: #d3d3d3;
    font-weight: 400;
    line-height: 30px;
    font-size: 14px;
}

.product-name {
    font-size: 16px;
    font-family: 'FjallaOneRegular';
    font-weight: bold;
}

.product-name a {
    color: #555;
}

.product-name a:hover {
    color: #3498db;
}

.price-item {
    margin-bottom: 10px;
}

/* CSS for cart */
.product-item .cart {
    text-align: center;
    padding-bottom: 1px;
    opacity: 1;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    width: 100%;
}

.cart ul li{
  display: inline-block;
}

.product-item .cart .action ul li.lnk.wishlist {
    border-right: 1px solid #dadada;
}

.product-item .cart .action ul li.lnk {
    margin: 10px 0px;
}

.product-item .cart .action ul li.lnk a {
    padding: 0 10px;
    color: #dadada;
}

.cart .action .add-cart-button .btn.btn-primary.icon {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background: #575757;
}

.btn-primary {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    background: #a8a8a8;
    color: #fff;
    border: none;
    font-size: 13px;
    line-height: 22px;
}

.cart .action .add-cart-button .btn.btn-primary:hover {
    background: #3498db;
}

.cart .action .add-cart-button .btn.btn-primary.icon:hover {
    background: #1d6ca1 !important;
}

.product-item .cart .action ul li.lnk a:hover {
    color: #3498db;
}

@media screen and (max-width: 420px) {
    .product-item-container {
        width: 100%;
    }

    .product-item {
        border-radius: 6px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .product-img-thumb {
        height: 200px;
    }
}

@media screen and (min-width: 421px) and (max-width: 700px) {
    .product-item-container {
            float: left;
            width: 50%;
    }
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
    .product-item-container {
            float: left;
            width: 33.33333%;
    }

    .cart .action .list-unstyled .compare {
        display: none;
    }

    .product-item .cart .action ul li.lnk.wishlist {
        border-right: 0px;
    }

    .product-img-thumb {
        height: 150px;
    }
}

@media screen and (min-width: 1025px) {
    .product-item-container {
            float: left;
            width: 33.33333%;
    }
}