<div class="page-header" style="margin-top: 0">
    Bản Đồ Cửa Hàng
</div>

<div class="ban-do-content">
    <div class="ban-do-item" *ngFor="let bando of bandos">
        <div class="no-margin col-md-12" *ngIf="bandos.length === 1">
            <div class="no-margin col-md-12 title">
                {{bando.title}}
            </div>

            <div class="no-margin col-md-12">
                Địa chỉ: 
                <span class="address">{{bando.address}}</span>
            </div>

            <div class="no-margin col-md-12">
                Điện thoại: 
                <span class="phone">{{bando.phone}}</span>
            </div>

            <div class="no-margin col-md-12">
                Email: 
                <span class="email">{{bando.email}}</span>
            </div>

            <div class="no-margin col-md-12">
                Website: 
                <span class="website">{{bando.website}}</span>
            </div>

            <div class="no-margin col-md-12">
                <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(bando.map)" 
                    width="100%" height="200" frameborder="0" style="border:0"></iframe>
            </div>
        </div>

        <div class="col-md-6" *ngIf="bandos.length > 1">
            <div class="no-margin col-md-12 title">
                {{bando.title}}
            </div>

            <div class="no-margin col-md-12">
                Địa chỉ: 
                <span class="address">{{bando.address}}</span>
            </div>

            <div class="no-margin col-md-12">
                Điện thoại: 
                <span class="phone">{{bando.phone}}</span>
            </div>

            <div class="no-margin col-md-12">
                Email: 
                <span class="email">{{bando.email}}</span>
            </div>

            <div class="no-margin col-md-12">
                Website: 
                <a class="website" href="{{bando.website}}">{{bando.website}}</a>
            </div>

            <div class="no-margin col-md-12">
                <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(bando.map)" 
                    width="100%" height="300" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
    
</div>