.page-header {
    font-size: 26px;
    font-weight: bold;
}

.lien-he-form {
    font-size: 16px;
}

.main-map {
    margin-bottom: 30px;
}

.ban-do-item {
    margin-bottom: 20px;
}

.ban-do-item .title {
    font-size: 20px;
    font-weight: bold;
}

.checkout-page-button {
    padding-left: 10px;
    padding-right: 10px;
}