.category-item-container {
    margin-bottom: 30px;
}

nav .nav .nav-item, nav .nav-mobile .nav-item-mobile>a  {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ebebeb;
    border-image: none;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-style: none solid;
    border-width: 0 1px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    background: #f7f7f7;
}

nav .nav>li>a {
    padding: 13px 15px;
    color: #666;
    text-transform: uppercase;
}

.nav>li>a, .nav-mobile>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    outline: none!important;
}

nav .nav>.nav-item>a:hover, nav .nav>.nav-item>a:focus {
    background:#fff;
    border-left:5px solid #abd07e;
}

nav .nav>li>a.nav-icon:after{
	color:#bababa;content:"\f0a9";
    float:right;
    font-size:12px;
    height:20px;
    line-height:18px;
    -webkit-transition:all .3s ease 0s;
    -moz-transition:all .3s ease 0s;
    -o-transition:all .3s ease 0s;
    transition:all .3s ease 0s;
    width:20px;
    font-family:FontAwesome
}

.nav ul {
  display: none;
}

.nav li:hover > ul {
    position: absolute;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    z-index: 1000;
}

.main-category-item, nav>.nav>.main-category-item>a:hover, nav>.nav>.main-category-item>a:focus  {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(52, 152, 219) !important;
}

.main-category-item > a {
    color: white !important;
}

.category-mobile-container {
    display: none;
}

@media screen and (max-width: 1000px) {
    .category-item-container {
        display: none;
    }

    .category-mobile-container .category-item-container  {
        display: block;
    }

    .category-mobile-container {
        display: block;
        margin-bottom: 10px;
    }

    .category-title {
        padding: 10px 10px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        background-color: rgb(52, 152, 219);
    }

    .category-title .fa {
        float: right;
        font-size: 15px;
        padding-right: 8px;
    }

    .category-item-container {
        margin-top: 10px;
    }

    .nav-mobile {
        list-style-type: none;
        padding-left: 0px !important;
    }

    nav .nav-mobile>li>a {
        color: #666;
        text-transform: uppercase;
    }

    nav .nav-item-mobile .item-level-3 {
        padding-left: 40px !important;
    }
}