<div class="no-margin row product-modify-container">
    <!-- ======================= danh sach hinh anh cua san pham -->
    <div class="no-margin row product-image-panel">
        <div class="no-margin row title-upload-file"> Chọn ảnh để upload:</div>
        <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." name="userPhoto" multiple/>

        <div class="no-margin row html5-progress-bar" *ngIf="numberOfDataUpload > 0" >
            <div class="progress-bar-wrapper">
                <progress id="progressbar" value="{{numberOfDataUpload}}" max="100"></progress>
                <span class="progress-value">{{numberOfDataUpload}}%</span>
            </div>
        </div>

        <div class="no-margin row list-product-image-panel">
            <div class="no-margin row title-uploaded-file">Danh sách ảnh đã được upload cho sản phẩm.</div>
            <div class="no-margin col-md-12 product-image-item" *ngFor="let proImage of productImages"> 
                <div class="no-margin col-md-8">
                    <div class="no-margin col-md-2 image-file">
                        <img class="img-responsive" src="{{proImage.file.pathFile}}">
                    </div>
                    
                    <div class="path-size col-md-4"> {{proImage.file.pathFile}}</div>
                    <div class="file-name col-md-4"> {{proImage.file.originalName}}</div>
                    <div class="path-size col-md-2"> {{proImage.file.size | fileSize}}</div>
                </div>

                <div class="delete-file col-md-1">
                    <a class="pull-right" href="javascript:void(0)" (click)="deleteFile(proImage)">
                        <i class="fa fa-trash-o fa-fw"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Thong tin nhap san pham -->
    <div class="no-margin row product-item-panel">
        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="name">Tên sản phẩm:</label>
            <div class="col-md-10">
                <input class="form-control" id="name" [(ngModel)]="product.name">
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="code">Mã sản phẩm:</label>
            <div class="col-md-10">
                <input class="form-control" id="code" [(ngModel)]="product.code">
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="position">Thứ tự sản phẩm:</label>
            <div class="col-md-10">
                <input class="form-control" id="position" [(ngModel)]="product.position" type="number" min="1">
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="danhMucName">Thuộc về danh mục:</label>
            <div class="col-md-10">
                <input class="form-control" id="danhMucName" [(ngModel)]="product.danhmuc.name" readonly>
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="priceOriginal">Giá gốc:</label>
            <div class="col-md-10">
                <input class="form-control" id="priceOriginal" [(ngModel)]="product.priceOriginal" type="number" min="0">
            </div>
        </div>

         <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="priceSell">Giá bán:</label>
            <div class="col-md-10">
                <input class="form-control" id="priceSell" [(ngModel)]="product.priceSell" type="number" min="0">
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="pricePromotion">Giá khuyến mãi:</label>
            <div class="col-md-10">
                <input class="form-control" id="pricePromotion" [(ngModel)]="product.pricePromotion" type="number" min="0">
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="pricePromotion">Trạng thái:</label>
            <div class="col-md-10">
                <input type="radio" [(ngModel)]="product.status" value="DRAFT">Lưu tạm thời<br/>
                <input type="radio" [(ngModel)]="product.status" value="PENDING">Chờ đợi<br/>
                <input type="radio" [(ngModel)]="product.status" value="PUBLIC">Hiện thị<br/>
                <input type="radio" [(ngModel)]="product.status" value="HIDE">Ẩn<br/>
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="guarantee">Thời gian bảo hành:</label>
            <div class="col-md-10">
                <input class="form-control" id="guarantee" [(ngModel)]="product.guarantee">
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="producer">Nhà sản xuất:</label>
            <div class="col-md-10">
                <input class="form-control" id="producer" [(ngModel)]="product.producer">
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="vat">Thuế:</label>
            <div class="col-md-10">
                <input class="form-control" id="vat" [(ngModel)]="product.vat" type="number" min="0">
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="quantity">Số lượng:</label>
            <div class="col-md-10">
                <input class="form-control" id="quantity" [(ngModel)]="product.quantity" type="number" min="0">
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="unit">Đơn vị:</label>
            <div class="col-md-10">
                <input class="form-control" id="unit" [(ngModel)]="product.unit">
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="seoTitle">Tối ưu thẻ tiêu đề:</label>
            <div class="col-md-10">
                <input class="form-control" id="seoTitle" [(ngModel)]="product.seoTitle">
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="seoKeyword">Tối ưu thẻ từ khóa:</label>
            <div class="col-md-10">
                <textarea class="form-control" id="seoKeyword" [(ngModel)]="product.seoKeyword"></textarea>
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="control-label col-md-2" for="seoDescription">Tối ưu thẻ mô tả:</label>
            <div class="col-md-10">
                <textarea class="form-control" id="seoDescription" [(ngModel)]="product.seoDescription"></textarea>
            </div>
        </div>
    </div>

    <div class="view-detail-group">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#mainImage">Ảnh đại diện</a></li>
            <li><a data-toggle="tab" href="#shortDescription">Thông tin sản phẩm</a></li>
            <li><a data-toggle="tab" href="#longDescription">Thông tin chi tiết</a></li>
            <li><a data-toggle="tab" href="#imagesDetail">Hình ảnh chi tiết</a></li>
        </ul>

        <div class="tab-content">
            <div id="mainImage" class="tab-pane fade in active">
                 <div class="no-margin row tab-value-info">
                    <div class="no-margin col-md-7 image-item-panel" *ngFor="let proImage of productImages" 
                        [ngClass]="{'active': (proImage.file.id === product.mainImage.id)}" (click)="selectMainImage(proImage.file)">
                        <div class="col-md-2 image-content">
                            <img class="img-responsive" src="{{proImage.file.pathFile}}" width="100"/>
                        </div> 

                        <div class="col-md-8 image-name">{{proImage.file.originalName}}</div>
                        <div class="col-md-2 image-size">{{proImage.file.size | fileSize}}</div>
                    </div>
                </div>
            </div>

            <div id="shortDescription" class="tab-pane fade">
               <div class="tab-value-info">
                    <div [froalaEditor]="options" [(froalaModel)]="product.shortDescription"></div>
                </div>
            </div>
            
            <div id="longDescription" class="tab-pane fade">
                 <div class="tab-value-info">
                    <div [froalaEditor]="options" [(froalaModel)]="product.detailDescription"></div>
                </div>  
            </div>

            <div id="imagesDetail" class="tab-pane fade">
                 <div class="tab-value-info">
                    <product-image-detail [imagesSelected]="product.imagesDetail" [productImages]="productImages"
                        (onDataChange)="imageDetailChange($event)"></product-image-detail>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 group-button">
        <div class="pull-right">
            <button class="btn btn-success btn-save" (click)="saveProduct()">Lưu</button>
            <button class="btn btn-danger btn-cancel" (click)="cancelProduct()">Hủy</button>
        </div>
    </div>
</div>