<div class="product-modify-container">
    <!-- ======================= danh sach hinh anh cua san pham -->
    <div class="product-image-panel">
        <div class="title-for-upload-gioi-thieu"> Chọn ảnh để upload:</div>
        <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." name="userPhoto" multiple/>

        <div class="html5-progress-bar" *ngIf="numberOfDataUpload > 0" >
            <div class="progress-bar-wrapper">
                <progress id="progressbar" value="{{numberOfDataUpload}}" max="100"></progress>
                <span class="progress-value">{{numberOfDataUpload}}%</span>
            </div>
        </div>

        <div class="no-margin row list-product-image-panel">
            <div>Danh sach file duoc upload cho san pham nay</div>
            <div class="no-margin row product-image-item" *ngFor="let proImage of productImages"> 
                <div class="no-margin col-md-11">
                    <div class="no-margin col-md-2 image-file">
                        <img class="img-responsive" src="{{proImage.file.pathFile}}" width="100px">
                    </div>
                    
                    <div class="path-size col-md-4"> {{proImage.file.pathFile}}</div>
                    <div class="file-name col-md-3"> {{proImage.file.originalName}}</div>
                    <div class="path-size col-md-2"> {{proImage.file.size/1024}}</div>
                </div>

                <div class="delete-file col-md-1">
                    <a class="pull-right" href="javascript:void(0)" (click)="deleteFile(proImage)">
                        <i class="fa fa-trash-o fa-fw"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Thong tin nhap san pham -->
    <div class="lable-info">Ten san pham :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.name" /></div>

    <div class="lable-info">Ma san pham :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.code" /></div>

    <div class="lable-info">Thu tu san pham :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.position" /></div>

    <div class="lable-info">Thuoc danh muc :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.danhmuc.name" readonly/></div>

    <div class="lable-info">Gia goc :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.priceOriginal" /></div>

    <div class="lable-info">Gia ban :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.priceSell" /></div>

    <div class="lable-info">Gia khuyen mai :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.pricePromotion" /></div>

    <div class="lable-info">Trang thai :</div>
    <div class="value-info">
        <input type="radio" [(ngModel)]="product.status" value="DRAFT">Luu tam thoi<br/>
        <input type="radio" [(ngModel)]="product.status" value="PENDING">Cho doi<br/>
        <input type="radio" [(ngModel)]="product.status" value="PUBLIC">Hien thi<br/>
        <input type="radio" [(ngModel)]="product.status" value="HIDE">An<br/>
    </div>

    <div class="lable-info">Thoi gian bao hanh :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.guarantee" /></div>

    <div class="lable-info">Nha san xuat :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.producer" /></div>

    <div class="lable-info">Thue :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.vat" /></div>

    <div class="lable-info">So luong :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.quantity" /></div>

    <div class="lable-info">Don vi :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.unit" /></div>

    <div class="lable-info">Toi uu the tieu de :</div>
    <div class="value-info"><input class="input-value-infor" [(ngModel)]="product.seoTitle" /></div>

    <div class="lable-info">Toi uu the tu khoa :</div>
    <div class="value-info value-seo">
        <textarea class="are-seo" [(ngModel)]="product.seoKeyword"></textarea>
    </div>

    <div class="lable-info">Toi uu the mo ta :</div>
    <div class="value-info value-seo">
        <textarea class="text-are-seo" [(ngModel)]="product.seoDescription"></textarea>
     </div>

    <div class="view-detail-group">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#mainImage">Ảnh đại diện</a></li>
            <li><a data-toggle="tab" href="#shortDescription">Thông tin sản phẩm</a></li>
            <li><a data-toggle="tab" href="#longDescription">Thông tin chi tiết</a></li>
            <li><a data-toggle="tab" href="#imagesDetail">Hình ảnh chi tiết</a></li>
        </ul>

        <div class="tab-content">
            <div id="mainImage" class="tab-pane fade in active">
                 <div class="no-margin row tab-value-info">
                    <div class="no-margin col-md-7 image-item-panel" *ngFor="let proImage of productImages" 
                        [ngClass]="{'active': (proImage.file.id === product.mainImage.id)}" (click)="selectMainImage(proImage.file)">
                        <div class="col-md-2 image-content">
                            <img class="img-responsive" src="{{proImage.file.pathFile}}" width="100"/>
                        </div> 

                        <div class="col-md-8 image-name">{{proImage.file.originalName}}</div>
                        <div class="col-md-2 image-size">{{proImage.file.size/1024}}</div>
                    </div>
                </div>
            </div>

            <div id="shortDescription" class="tab-pane fade">
               <div class="tab-value-info">
                    <p-editor [(ngModel)]="product.shortDescription" [style]="{'height':'320px'}"></p-editor>
                </div>
            </div>
            
            <div id="longDescription" class="tab-pane fade">
                 <div class="tab-value-info">
                    <p-editor [(ngModel)]="product.detailDescription" [style]="{'height':'320px'}"></p-editor>
                </div>  
            </div>

            <div id="imagesDetail" class="tab-pane fade">
                 <div class="tab-value-info">
                    <product-image-detail [imagesSelected]="product.imagesDetail" [productImages]="productImages"
                        (onDataChange)="imageDetailChange($event)"></product-image-detail>
                </div>
            </div>
        </div>
    </div>

    <div class="group-button">
        <button class="btn btn-success btn-save" (click)="saveProduct()">Luu</button>
        <button class="btn btn-danger btn-cancel" (click)="cancelProduct()">Huy</button>
    </div>
</div>