<div class="product-view-container">
    <button class="btn-product-view pull-right" (click)="backProducts()">Quay lại danh sách sản phẩm</button>

    <div class="no-margin row main-product-image">
        <img src="{{product.mainImage.pathFile}}" width="100px"/>
    </div>

    <div class="no-margin row view-product-panel">
        <div class="no-margin col-md-10 form-group">
            <label class="col-md-2">Tên sản phẩm:</label>
            <div class="col-md-10">
                {{product.name}}
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="col-md-2">Mã sản phẩm:</label>
            <div class="col-md-10">
                {{product.code}}
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="col-md-2">Thứ tự sản phẩm:</label>
            <div class="col-md-10">
                {{product.position}}
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="col-md-2">Thuộc danh mục:</label>
            <div class="col-md-10">
                {{product.danhmuc.name}}
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="col-md-2">Giá gốc:</label>
            <div class="col-md-10">
                {{product.priceOriginal}}
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="col-md-2">Giá bán:</label>
            <div class="col-md-10">
                {{product.priceSell}}
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="col-md-2">Giá khuyến mãi:</label>
            <div class="col-md-10">
                {{product.pricePromotion}}
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="col-md-2">Trạng thái:</label>
            <div class="col-md-10">
                {{product.status}}
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="col-md-2">Thời gian bảo hành:</label>
            <div class="col-md-10">
                {{product.guarantee}}
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="col-md-2">Nhà sản xuất:</label>
            <div class="col-md-10">
                {{product.producer}}
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="col-md-2">Thuế:</label>
            <div class="col-md-10">
                {{product.vat}}
            </div>
        </div>

        <div class="no-margin col-md-10 form-group">
            <label class="col-md-2">Số lượng:</label>
            <div class="col-md-10">
                {{product.quantity}}
            </div>
        </div>
    </div>

    <div class="lable-info">So luong :</div>
    <div class="value-info">{{product.quantity}}</div>

    <div class="lable-info">Don vi :</div>
    <div class="value-info">{{product.unit}}</div>

    <div class="lable-info">Tu khoa seo title :</div>
    <div class="value-info">{{product.seoTitle}}</div>

    <div class="lable-info">Tu khoa seo tu khoa :</div>
    <div class="value-info seo-keyword">{{product.seoKeyword}}</div>

    <div class="lable-info">Tu khoa seo mo ta :</div>
    <div class="value-info seo-description">{{product.seoDescription}}</div>

    <div class="view-detail-group">
        <p-tabView>
            <p-tabPanel header="Thong tin san pham">
                <div class="tab-value-info" [innerHTML]="product.shortDescription"></div>
            </p-tabPanel>

            <p-tabPanel header="Thong tin chi tiet">
                <div class="tab-value-info">{{product.detailDescription}}</div>
            </p-tabPanel>

            <p-tabPanel header="Hinh anh chi tiet">
                <div *ngFor="let image of product.imagesDetail">
                    <img ngSrc="image.pathFile" width="50"/>
                    <div class="image-name">{{image.originalName}}</div>
                    <div class="image-size">{{image.size}}</div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>

    <button class="btn-product-view" (click)="backProducts()">Tro ve</button>
</div>