<div class="danhmucContainer row">
    <div class="no-margin col-md-10">
         <button class="btn-add-category pull-right" (click)="addRootDanhMuc()">
            Tạo mới danh mục
        </button>
    </div>
   
    <div class="no-margin col-md-10 dm-header">
        <div class="col-md-10 dm-header-name">Tên</div>
        <div class="col-md-1 dm-header-position">Vị trí</div>
        <div class="col-md-1 dm-header-button"></div>
    </div>
    <danh-muc-item [danhmucs]="danhmucs" 
        (onCreateDanhMuc)="onCreateDanhMuc($event)"
        (onEditDanhMuc)="onEditDanhMuc($event)"
        (onDeleteDanhMuc)="onDeleteDanhMuc($event)"></danh-muc-item>
</div>

<div class="no-margin col-md-10">
    <hr>
</div>

<div class="danhmucModifyContainer row" *ngIf="danhmuc">
    <div class="no-margin col-md-7 form-group">
        <label class="control-label col-md-3" for="name">Tên danh mục:</label>
        <div class="col-md-9">
            <input class="form-control" id="name" [(ngModel)]="danhmuc.name">
        </div>
    </div>
    
    <div class="no-margin col-md-7 form-group">
        <label class="control-label col-md-3" for="description">Mô tả:</label>
        <div class="col-md-9">
            <input class="form-control" id="description" [(ngModel)]="danhmuc.description">
        </div>
    </div>

    <div class="no-margin col-md-7 form-group">
        <label class="control-label col-md-3" for="position">Thứ tự:</label>
        <div class="col-md-9">
            <input type="number" class="form-control" id="position" [(ngModel)]="danhmuc.position" min="1">
        </div>
    </div>

    <div class="no-margin col-md-7 form-group">
        <label class="control-label col-md-3" for="status">Trạng thái:</label>
        <div class="col-md-9">
            <input type="checkbox" id="status" [(ngModel)]="danhmuc.status">
        </div>
    </div>

    <div class="no-margin col-md-7 form-group">
        <label class="control-label col-md-3" for="seoTitle">Tối ưu thẻ tiêu đề:</label>
        <div class="col-md-9">
            <input class="form-control" id="seoTitle" [(ngModel)]="danhmuc.seoTitle">
        </div>
    </div>

    <div class="no-margin col-md-7 form-group">
        <label class="control-label col-md-3" for="seoKeyword">Tối ưu thẻ từ khóa:</label>
        <div class="col-md-9">
            <input class="form-control" id="seoKeyword" [(ngModel)]="danhmuc.seoKeyword">
        </div>
    </div>
    
    <div class="no-margin col-md-7 form-group">
        <label class="control-label col-md-3" for="seoDescription">Tối ưu thẻ mô tả:</label>
        <div class="col-md-9">
            <input class="form-control" id="seoDescription" [(ngModel)]="danhmuc.seoDescription">
        </div>
    </div>

    <div class="col-md-7">
        <div class="pull-right">
            <button class="btn btn-success btn-save" (click)="saveDanhMuc()">Lưu</button>
            <button class="btn btn-danger btn-cancel" (click)="cancelDanhMuc()">Hủy</button>
        </div>
    </div>
</div>