.dm-header {
    background: #3e77ab; /* Old browsers */
    background: -moz-linear-gradient(top, #3e77ab 0%, #54a3ee 50%, #54a3ee 51%, #3896ed 51%, #4783ba 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e77ab), color-stop(50%,#54a3ee), color-stop(51%,#54a3ee), color-stop(51%,#3896ed), color-stop(100%,#4783ba)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3e77ab 0%,#54a3ee 50%,#54a3ee 51%,#3896ed 51%,#4783ba 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3e77ab 0%,#54a3ee 50%,#54a3ee 51%,#3896ed 51%,#4783ba 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3e77ab 0%,#54a3ee 50%,#54a3ee 51%,#3896ed 51%,#4783ba 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3e77ab 0%,#54a3ee 50%,#54a3ee 51%,#3896ed 51%,#4783ba 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e77ab', endColorstr='#4783ba',GradientType=0 ); /* IE6-9 */
    transition: 0.2s all ease-in-out;
    outline: none;
    color:#FFF;
    line-height: 25px;
    margin-top: 5px;
    font-weight: bold;
}

.danhmucModifyContainer {
    margin-top: 20px;
}