.dm-level-1 {
    padding-left: 0px;
}

.dm-level-2 {
    padding-left: 10px;
}

.dm-level-3 {
    padding-left: 20px;
}

.dm-level-4 {
    padding-left: 30px;
}

.dm-level-5 {
    padding-left: 40px;
}