<div *ngFor="let danhmuc of danhmucs"> 
    <div class="col-xs-6 col-md-6 dm-name">
        <div [ngClass]="['dm-level-'+danhmuc.level]">{{danhmuc.name}}</div>
    </div>
    <div class="col-xs-2 col-md-2 dm-position">{{danhmuc.position}}</div>
    <div class="col-xs-2 col-md-2 dm-button">
        <a href="javascript:void(0)" (click)="createDanhMuc(danhmuc)" title="Tao Danh Muc">
            <i class="fa fa-plus fa-fw"></i>
        </a>

        <a href="javascript:void(0)" (click)="editDanhMuc(danhmuc)" title="Chinh Sua Danh Muc">
            <i class="fa fa-pencil-square-o fa-fw"></i>
        </a>
        <a href="javascript:void(0)" (click)="deleteDanhMuc(danhmuc)" title="Xoa Danh Muc">
            <i class="fa fa-trash-o fa-fw"></i>
        </a>
    </div>

    <danh-muc-item [danhmucs]="danhmuc.children"
        (onCreateDanhMuc)="createDanhMuc($event)"
        (onEditDanhMuc)="editDanhMuc($event)"
        (onDeleteDanhMuc)="deleteDanhMuc($event)"></danh-muc-item>
</div>