<div class="container header-holder">
    <div class="logo-holder">
        <img *ngIf="header.file" class="img-responsive header-image" src="{{header.file.pathFile}}"/>
    </div>
    
    <div class="search-holder">
        <!-- contact line -->
        <div class="contact-row">
            <div class="phone inline">
                <i class="icon fa fa-phone"></i> 
                <span>090 709 99 22</span>
            </div>
            <div class="address inline">
                <i class="icon fa fa-home"></i>
                <span>235 Quốc Lộ 1k - Khu phố 5 - P. Linh Xuận - Q. Thủ Đức - TP. HCM</span>
            </div>
        </div>

        <!-- search input line -->
        <div class="search-area">
            <div class="control-group">
                <input type="text" name="search" class="search-field" placeholder="Tìm sản phẩm ờ đây...">
                <a class="search-button" href="#"></a>
            </div>
        </div>
    </div>

    <!-- cart holder -->
    <div class="cart-holder">
        <div class="dropdown-cart pull-right">
            <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
                <div class="items-cart-inner">
                    <div class="total-price-basket">
                        <span class="total-price">
                            <span class="value">{{totalAmount | pipeSimpleNumber}}</span>
                            <span class="sign">đ</span>
                        </span>
                    </div>

                    <div class="basket">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div>

                    <div class="basket-item-count"><span class="count">{{totalQuantity}}</span></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="header-nav">
    <div class="container">
        <ul class="topnav">
            <li *ngFor="let item of menuItems">
                <a [ngClass]="{active:(item.name === menuItemSelected.name)}" [routerLink]="[item.linkRef]"
                    (click)="onMenuItemSelected(item)">{{item.value}}</a>
            </li>
        </ul>
    </div>
</div>

<mobi-header [menuItems]="menuItems" [headerFile]="header.file" [totalQuantity]="totalQuantity"></mobi-header>