<div class="carousel-container">
	<div class="carousel-content">
		<div class="carousel-wrapper"
			[ngStyle]="{'width': (itemSize*total)+'px', 'transform': 'translate3d(-'+(index*itemSize)+'px, 0px, 0px)'}"
			[ngClass]="{'display': isDisplayCarousel}">
		
			<div class="carousel-item" [ngClass]="{'active': (carousel === current)}"
				[ngStyle]="{'width': itemSize+'px'}" 
				*ngFor="let carousel of carousels">
				<a class="horizontal-carousel" routerLink="/san-pham/{{carousel.productId}}">
					<img src="../../{{carousel.path}}" class="image-carousel-item img-responsive">
				</a>
			</div>
			
		</div>
	</div>
	
	<!-- Bullet Navigator -->
	<div class="bullet-navigate-panel" [ngStyle]="{'left': bulletNavigateLeft+'px'}">
		<div class="bullet-item" *ngFor="let carousel of carousels; let idx = index" 
			[ngStyle]="{'left': (idx * 20)+'px', 'top': +'0px'}"
			[ngClass]="{'av': (idx === index)}" (click)="onSelectBulletItem(carousel)">
		</div>
	</div>
	
	<!-- Arrow Navigator -->
	<div class="arrow-left" [ngStyle]="{'top': arrowTop+'px'}" (click)="onPreviousItem()"></div>
	<div class="arrow-right" [ngStyle]="{'top': arrowTop+'px'}" (click)="onNextItem()"></div>
</div>