<div class="title-for-upload-gioi-thieu">Chọn file để upload</div>
<input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." name="userPhoto" multiple/>

<div class="html5-progress-bar" *ngIf="numberOfDataUpload > 0" >
    <div class="progress-bar-wrapper">
        <progress id="progressbar" value="{{numberOfDataUpload}}" max="100"></progress>
        <span class="progress-value">{{numberOfDataUpload}}%</span>
    </div>
</div>

<div class="file-upload-panel">
    <div>Danh sách file trong phần Giới Thiệu:</div>
    <div class="file-gioi-thieu-item" *ngFor="let file of files"> 
        <div class="content-file">
            <img class="image-file" src="{{file.pathFile}}" width="100">
            <div class="file-name"> {{file.originalName}}</div>
            <div class="path-file"> {{file.pathFile}}</div>
        </div>

        <div class="delete-file">
            <a href="javascript:void(0)" (click)="deleteFile(file)">
                <i class="fa fa-trash-o fa-fw"> </i>
            </a>
        </div>
    </div>
</div>

<div class="content-panel row">
    <div class="col-md-11" [froalaEditor] [(froalaModel)]="gioithieu.content"></div>

    <div class="col-md-11 group-button">
        <div class="pull-right">
            <button class="btn btn-success btn-save" (click)="saveGioiThieu()">Lưu</button>
            <button class="btn btn-danger btn-cancel" (click)="cancelGioiThieu()">Hủy</button>
        </div>
    </div>
   
</div>

