<div class="ban-do-panel">
    <div *ngIf="bando" class="modify-ban-do col-md-12"> 
        <div class="col-md-12">
            <div class="col-md-3">Tiêu đề:</div>
            <input class="col-md-9 ban-do-title" [(ngModel)] = "bando.title"/>
        </div>

        <div class="col-md-12">
            <div class="col-md-3">Địa chỉ:</div>
            <input class="col-md-9 ban-do-address" [(ngModel)] = "bando.address"/>
        </div>
        
        <div class="col-md-12">
            <div class="col-md-3">Điện thoại:</div>
            <input class="col-md-9 ban-do-phone" [(ngModel)] = "bando.phone"/>
        </div>

        <div class="col-md-12">
            <div class="col-md-3">Email:</div>
            <input class="col-md-9 ban-do-email" [(ngModel)] = "bando.email"/>
        </div>

        <div class="col-md-12">
            <div class="col-md-3">Website:</div>
            <input class="col-md-9 ban-do-website" [(ngModel)] = "bando.website"/>
        </div>

        <div class="col-md-12">
            <div class="col-md-3">Địa chỉ bản đồ:</div>
            <input class="col-md-9 ban-do-map" [(ngModel)] = "bando.map"/> 
        </div>

        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-cancel" (click)="cancelBanDo()">Hủy</button>
                <button class="btn btn-save" (click)="saveBanDo()">Lưu</button>
            </div>
        </div>     
    </div>

    <div class="list-ban-do col-md-12" *ngIf="!bando">
        <div class="col-md-12">
            <button class="pull-right btn" (click)="addBanDo()">Tạo mới bản đồ</button>
        </div>
        
        <div *ngFor = "let bando of bandos" class="item-ban-do col-md-12">
            <div class="col-md-3">{{bando.title}}</div>
            <div class="col-md-5">{{bando.address}}</div>
            <div class="col-md-1">{{bando.phone}}</div>
            <div class="col-md-2">{{bando.email}}</div>
            
            <div class="item-button col-md-1">
                <div class="pull-right">
                    <a href="javascript:void(0)" (click)="editBanDo(bando)" title="Chỉnh sửa bản đồ">
                        <i class="fa fa-pencil-square-o fa-fw"></i>
                    </a>
                    <a href="javascript:void(0)" (click)="deleteBanDo(bando)" title="Xóa bản đồ">
                        <i class="fa fa-trash-o fa-fw"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-3">{{bando.website}}</div>
            <div class="col-md-9 view-ban-do-map">{{bando.map}}</div>
        </div>
    </div>
    
</div>

