<div class="page-header" style="margin-top: 0">
    Thông Tin Liên Hệ
</div>

<div class="no-margin col-md-12 lien-he-form">
    <!-- form map -->
    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(mainBanDo.map)" class="main-map"
        width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>

    <!-- form contact -->
    <div class="form-group row">
        <label for="fullName" class="col-xs-2 col-form-label">
            Họ và tên:
            <span style="color: #f00"> (*)</span>
        </label>
        <div class="col-xs-5">
            <input class="form-control" type="text" value="" id="fullName" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="email" class="col-xs-2 col-form-label">
            Email:
            <span style="color: #f00"> (*)</span>
        </label>
        <div class="col-xs-5">
            <input class="form-control" type="email" value="" id="email" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="company" class="col-xs-2 col-form-label">
            Công ty:
        </label>
        <div class="col-xs-5">
            <input class="form-control" type="text" value="" id="company">
        </div>
    </div>

    <div class="form-group row">
        <label for="phone" class="col-xs-2 col-form-label">
            Điện thoại:
            <span style="color: #f00"> (*)</span>
        </label>
        <div class="col-xs-5">
            <input class="form-control" type="text" value="" id="phone" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="content" class="col-xs-12 col-form-label">
            Nội dung:
            <span style="color: #f00"> (*)</span>
        </label>
        <div class="col-xs-12">
            <textarea class="form-control" id="content" rows="5" required></textarea>
        </div>
    </div>

    <div class="no-margin col-md-12">
        <button class="btn-upper btn btn-primary checkout-page-button pull-right">Gửi Đi</button>
    </div>
</div>

<div class="no-margin col-md-12">
    <div class="ban-do-content">
    <div class="ban-do-item" *ngFor="let bando of bandos">
        <div class="no-margin col-md-12" *ngIf="bandos.length === 1">
            <div class="no-margin col-md-12 title">
                {{bando.title}}
            </div>

            <div class="no-margin col-md-12">
                Địa chỉ: 
                <span class="address">{{bando.address}}</span>
            </div>

            <div class="no-margin col-md-12">
                Điện thoại: 
                <span class="phone">{{bando.phone}}</span>
            </div>

            <div class="no-margin col-md-12">
                Email: 
                <span class="email">{{bando.email}}</span>
            </div>

            <div class="no-margin col-md-12">
                Website: 
                <span class="website">{{bando.website}}</span>
            </div>
        </div>

        <div class="no-margin col-md-6" *ngIf="bandos.length > 1">
            <div class="no-margin col-md-12 title">
                {{bando.title}}
            </div>

            <div class="no-margin col-md-12">
                Địa chỉ: 
                <span class="address">{{bando.address}}</span>
            </div>

            <div class="no-margin col-md-12">
                Điện thoại: 
                <span class="phone">{{bando.phone}}</span>
            </div>

            <div class="no-margin col-md-12">
                Email: 
                <span class="email">{{bando.email}}</span>
            </div>

            <div class="no-margin col-md-12">
                Website: 
                <a class="website" href="{{bando.website}}">{{bando.website}}</a>
            </div>
        </div>
    </div>
</div>