.breadcrumb-inner ul { 
    background: none;
    color: #000;
    margin-bottom: 0;
    list-style: none;
    text-align: right;
}

.breadcrumb-inner ul li {
    color: rgb(52, 152, 219);
}

.breadcrumb-inner ul > li {
    display: inline-block;
}

ul a {
    color: #000;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul > li + li:before {
    padding: 0 5px;
    color: #000;
    content: "\e250";
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
}