<div class="list-product-container" *ngIf="!isHideList">
    <div class="col-md-3">
        <danh-muc-selection [danhmucs]="danhmucs" (onSelection)="selectDanhMuc($event)"></danh-muc-selection>
    </div>

    <div class="col-md-9">
        <button class="btn-add-product" (click)="addProduct()" value="Tao moi san pham" *ngIf="allowCreate"></button>
        <div class="product-header row">
            <div class="col-md-2">Ma SP</div>
            <div class="col-md-4">Ten SP</div>
            <div class="col-md-1">Gia goc</div>
            <div class="col-md-1">Gia ban</div>
            <div class="col-md-1">Thu tu</div>
            <div class="col-md-1">Trang thai</div>
            <div class="col-md-1">Don vi</div>
            <div class="col-md-1"></div>
        </div>

        <div class="product-table-content">
            <div class="row" *ngFor="let product of products">
                <div class="col-md-2">{{product.code}}</div>
                <div class="col-md-4">{{product.name}}</div>
                <div class="col-md-1">{{product.priceOriginal}}</div>
                <div class="col-md-1">{{product.priceSell}}</div>
                <div class="col-md-1">{{product.position}}</div>
                <div class="col-md-1">{{product.status}}</div>
                <div class="col-md-1">{{product.unit}}</div>
                <div class="col-md-1">
                    <i class="fa fa-eye fa-lg" title="Chi Tiet" (click)="viewProduct(product)"></i>
                    <i class="fa fa-pencil fa-lg" title="Chinh Sua San Phan" (click)="editProduct(product)"></i>
                    <i class="fa fa-trash-o fa-lg" title="Xoa San Phan" (click)="deleteProduct(product)"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isHideList">
    <div class="product-view-container" *ngIf="isView">
        <product-view [product]="product" (onBackProducts)="backProducts($event)"></product-view>
    </div>

    <div class="product-modify-container" *ngIf="!isView">
        <product-modify [product]="product" (onSaveProduct)="saveProduct($event)" 
            (onCancelProduct)="cancelProduct($event)"></product-modify>
    </div>
</div>