<div class="col-md-12 image-detail-selected">
    <div class="col-md-12 image-detail-title">
        Danh sach hinh anh da duoc chon
    </div>

    <div class="col-md-12 image-detail-header">
        <div class="col-md-4">Hinh anh</div>
        <div class="col-md-5">Ten hinh</div>
        <div class="col-md-2">Kich thuoc</div>
        <div class="col-md-1"></div>
    </div>

    <div class="col-md-12 image-detail-content" *ngFor="let image of imagesSelected">              
        <img class="col-md-4 image-content" src="{{image.pathFile}}" width="50"/>
        <div class="col-md-5 image-name">{{image.originalName}}</div>
        <div class="col-md-2 image-size">{{image.size/1024}}</div>
        <div class="col-md-1">
            <a href="javascript:void(0)" (click)="removeImage(image)">
                <i class="fa fa-trash-o fa-fw"> </i>
            </a>
        </div>
    </div>
</div>

<div class="col-md-12 image-detail-no-selected">
    <div class="col-md-12 image-detail-title">
        Danh sach hinh anh chua duoc chon
    </div>

    <div class="col-md-12 image-detail-header">
        <div class="col-md-4">Hinh anh</div>
        <div class="col-md-5">Ten hinh</div>
        <div class="col-md-2">Kich thuoc</div>
        <div class="col-md-1"></div>
    </div>

    <div class="col-md-12 image-detail-content" *ngFor="let image of imagesNotSelected">              
        <img class="col-md-4 image-content" src="{{image.file.pathFile}}" width="50"/>
        <div class="col-md-5 image-name">{{image.file.originalName}}</div>
        <div class="col-md-2 image-size">{{image.file.size}}</div>
        <div class="col-md-1">
            <a href="javascript:void(0)" (click)="addImage(image)">
                <i class="fa fa-plus"> </i>
            </a>
        </div>
    </div>
</div>