.image-detail-selected {
    margin-top: 20px;
}

.image-detail-title {
    font-size: 16px;
    font-weight: bold;
}

.image-detail-content {
    margin: 10px 0px 10px 0px;
}

.image-detail-no-selected {
    margin-top: 40px;
}

.image-detail-header {
    font-weight: bold;
    background-color: rgb(52, 152, 219);
    color: white;
    line-height: 30px;
}

.image-content-header {
    text-align: center;
}

.image-action {
    text-align: right;
}

.image-item-panel {
    display: flex;
    align-items: center;
}
