.product-image-detail-panel {
    margin-top: 0px;
}

.product-short-information-panel {
    padding-left: 40px;
    font-family: "times new roman", times, serif;
    font-size: 18px;
}

.header-product-name {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.3em;
    font-size: 24px;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
}

.header-product-name > .product-code {
    font-size: 12px;
}

.product-rating {
    font-size: 12px;
}

.product-price {
    margin: 10px 0px;
    padding: 10px 0px;
    color: #3498db;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
}

/* BUTTON ADD TO CART */
.quantity-label {
    float: left;
}

.quantity-value {
    float: left;
    max-width: 40px;
    margin-left: 10px;
    text-align: center;
}

.btn-add-cart-panel {
    float: left;
    margin-left: 10px;
}


.product-add-cart {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.btn-product-add-cart {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    background: #a8a8a8;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.btn-product-add-cart:hover{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.inner-right-vs {
    border-right: 1px solid white;
    padding-right: 10px;
    margin-right: 5px;
}

/* FOR DESCRIPTION */
.product-detail-panel {
    margin-top: 30px;
}

.tab-pane > div {
    margin-top: 10px;
}

@media screen and (max-width: 560px) {
    .product-image-detail-panel {
        width: 100%;
    }

    .product-short-information-panel {
        width: 100%;
        padding-left: 0px;
        margin-top: 20px;
    }

    @media screen and (max-width: 362px) {
        .btn-add-cart-panel {
            width: 100%;
            margin-left: 0px;
            margin-top: 10px;
        }
    }
}

@media screen and (min-width: 561px) and (max-width: 640px) {
    .product-image-detail-panel {
        float: left;
        width: 45%;
    }

    .product-short-information-panel {
        float: left;
        width: 55%;
        padding-left: 30px;
    }

    .btn-add-cart-panel {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1000px) {
    .product-image-detail-panel {
        float: left;
        width: 40%;
    }

    .product-short-information-panel {
        float: left;
        width: 60%;
        padding-left: 30px;
    }
}

@media screen and (min-width: 1000px) {
    .product-image-detail-panel {
        float: left;
        width: 40%;
    }

    .product-short-information-panel {
        float: left;
        width: 60%;
    }
}