.product-image-detail-panel {
    margin-top: 0px;
}

.product-short-information-panel {
    padding-left: 40px;
    font-family: "times new roman", times, serif;
    font-size: 18px;
}

.header-product-name {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.3em;
    font-size: 24px;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
}

.header-product-name > .product-code {
    font-size: 12px;
}

.product-rating {
    font-size: 12px;
}

.product-price {
    margin: 10px 0px;
    padding: 10px 0px;
    color: #3498db;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
}

/* BUTTON ADD TO CART */
.product-add-cart {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.btn-product-add-cart {
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    background: #a8a8a8;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.btn-product-add-cart:hover{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.inner-right-vs {
    border-right: 1px solid white;
    padding-right: 10px;
    margin-right: 5px;
}

/* FOR DESCRIPTION */
.product-detail-panel {
    margin-top: 30px;
}

.tab-pane > div {
    margin-top: 10px;
}