<div class="footer-container">
    <div class="container">
        <div class="no-margin row">

            <!-- MAIN INFORMATION -->
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <h4 class="title">THÔNG TIN CHUNG</h4>			
                <div class="textwidget">
                    Công ty TNHH Tiến Dũng Auto được thành lập vào tháng 12/2016, là một trong những đơn vị tiên phong trong nghành nội thất ô tô tại tỉnh Bình Dương.
                Với đội ngũ nhân viên kỹ thuật tay nghề cao, chuyên nghiệp và nhiệt tình, Tiến Dũng Auto sẽ làm hài lòng khách hàng với sản phẩm tốt nhất đi kèm với chất lượng dịch vụ chuyên nghiệp, giá cả cạnh tranh.
                </div>
            </div>

            <!-- FOR CUSTOMER -->
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <h4 class="title">DÀNH CHO NGƯỜI MUA HÀNG</h4>
                
                <div class="menu-footer-menu-container">
                    <ul id="menu-footer-menu-1" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-817">
                            <a routerLink="/dich-vu">Dịch vụ</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-817">
                            <a routerLink="/thanh-toan">Cách thức mua hàng & thanh toán</a>
                        </li>
                        
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-818">
                            <a routerLink="/ban-do">Bản đồ</a>
                        </li>
                        
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-819">
                            <a routerLink="/lien-he">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- TIME WORKING -->
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <h4 class="title">GIỜ LÀM VIỆC</h4>        
                <div class="textwidget">
                    <ul class="style-2">
                        <li>Thứ 2: 8:00 - 17:00</li>
                        <li>Thứ 3: 8:00 - 17:00</li>
                        <li>Thứ 4: 8:00 - 17:00</li>
                        <li>Thứ 5: 8:00 - 17:00</li>
                        <li>Thứ 6: 8:00 - 17:00</li>
                        <li>Thứ 7:8:00 - 17:00</li>
                        <li><span>Chủ nhật: 8:00 - 12:00</span></li>
                    </ul>
                </div>
             </div>

             <!-- SUMMARY USER ACCESS SYSTEM -->
             <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                 <h4 class="title">Thống kê truy cập</h4>
                 <ul>
                     <li>User Online: 0</li>
                     <li>Today Visit: 1 787</li>
                     <li>Yesterday Visit: 6 462</li>
                     <li>Week Visit: 27 046</li>
                     <li>Month Visit: 98 900</li>
                     <li>Years Visit: 1 283 163</li>
                     <li>Total Visit: 1 925 112</li>
                </ul>
            </div>
        </div>
    </div>
</div>