<div class="title-for-upload-thanh-toan">Chọn file để upload</div>
<input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." name="userPhoto" multiple/>

<div class="html5-progress-bar" *ngIf="numberOfDataUpload > 0" >
    <div class="progress-bar-wrapper">
        <progress id="progressbar" value="{{numberOfDataUpload}}" max="100"></progress>
        <span class="progress-value">{{numberOfDataUpload}}%</span>
    </div>
</div>

<div class="file-upload-panel">
    <div>Danh sách file trong thanh toán</div>
    <div class="file-thanh-toan-item" *ngFor="let file of fileSystems"> 
        <div class="content-file">
            <img class="image-file" src="{{file.pathFile}}" width="100">
            <div class="file-name"> {{file.originalName}}</div>
            <div class="path-file"> {{file.pathFile}}</div>
        </div>

        <div class="delete-file">
            <a href="javascript:void(0)" (click)="deleteFile(file)">
                <i class="fa fa-trash-o fa-fw"> </i>
            </a>
        </div>
    </div>
</div>

<div class="content-panel">
    <div [froalaEditor] [(froalaModel)]="thanhtoan.content"></div>
    <button class="btn-cancel" (click)="cancelThanhToan()">Hủy</button>
    <button class="btn-save" (click)="saveThanhToan()">Lưu</button>
</div>

